@import url('https://fonts.googleapis.com/css2?family=Kalnia:wght@100&family=Ubuntu+Condensed&display=swap');

* {
    padding: 0px;
    margin: 10px;
    box-sizing: border-box;
    font-family: 'kalnia';
    text-decoration: none;
}

body {
    font-family: 'cursive';
}

.padre {
    display: flex;
    flex-flow: column nowrap;
}

.header {
    background-image: url('../img/header-tienda.jpg');
    background-position: center;
    background-attachment: contain;
    background-size: cover;
    display: flex;
    flex-flow: column nowrap;
}

.menu {
    background: linear-gradient(to right, rgba(199, 210, 254, .4), rgba(254, 202, 202, .4), rgba(254, 249, 195, .4));
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    height: 100px;
    border-bottom: 1px solid #fff8;
}

.logo {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
}

.logo a {
    color: #ffff;
    font-size: 30px;
    display: flex;
}

.logo strong:hover {
    text-shadow: 1px 1px rgb(100, 116, 139), 1px 1px rgb(100, 116, 139);
    border-radius: 5px;
    color: #343434;
    font-size: 32px;
    transition: font-size .5s;
}



.nav {

    flex: 2 2 auto;
    display: flex;

}

.nav a {
    display: flex;
    font-size: 13px;
    text-transform: uppercase;
    padding: 0 10;
    color: rgb(0, 0, 0);
    letter-spacing: 2px;
    align-items: center;
    font-family: 'Ubuntu Condensed';
}

.nav a:hover {
    background: rgba(100, 116, 139, .2);
    text-shadow: 0 0 30px rgb(100, 116, 139);
    border-radius: 5px;
    color: #343434;
    font-size: 15px;
    transition: font-size .5s;
}

.social {
    position: absolute;
    left: 79vw;
    flex: 1 1 auto;
    display: flex;
}

.social a {
    padding: 0 3px;
    color: #000;
    font-size: 18px;
}

.social a:hover {
    font-size: 27px;
    color: #666;
    transition: font-size .4s;
}

.texto_principal {
    background: #85c;
}

h1 {
    background: #35c;
}


.section {
    background: #000;
    display: flex;
}

.articulos {
    background: linear-gradient(to right, rgb(249, 168, 212), rgb(216, 180, 254), rgb(129, 140, 248));
    flex: 2 1 auto;
    display: flex;
    flex-flow: row wrap;
}

.article {
    background: #86a;
    flex: 1 1 40%;
}

.navegacion {
    background: #676;
    flex: 1 1 100%;
}

.aside {
    background: linear-gradient(to right, rgb(254, 202, 202), rgb(252, 165, 165), rgb(254, 240, 138));
    flex: 1 1 auto;
}

.publicidad {
    background: #49d;

}

.footer {
    background: #000;
    display: flex;
    justify-content: center;
}

.pie {
    background: #24e;
    width: 20rem;
}

@media all and (max-width:800px) {
    .section {
        flex-direction: column;
    }

    .menu {
        flex-direction: column;
        height: auto;
    }

    .aside {
        display: flex;
        justify-content: center;
    }
}

@media all and (max-width:600px) {
    .articulos {
        flex-direction: column;
    }
}

@media all and (max-width:400px) {
    .aside {
        flex-direction: column;
    }
}