@import url('https://fonts.googleapis.com/css2?family=Kalnia:wght@100&family=Montserrat+Alternates:wght@500&family=Ubuntu+Condensed&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'kalnia';
}

a {
    text-decoration: none;
}

.text_margin {}

body {
    /* font-family: 'cursive'; */

}

.padre {
    display: flex;
    flex-flow: column nowrap;
}

.header {
    background-image: url('../img/header-tienda.jpg');
    background-position: center;
    background-attachment: contain;
    background-size: cover;
    display: flex;
    flex-flow: column nowrap;
}

.menu {
    background: linear-gradient(to right, rgba(199, 210, 254, .4), rgba(254, 202, 202, .4), rgba(254, 249, 195, .4));
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    height: 100px;
    border-bottom: 1px solid #fff8;
}

.logo {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
}

.logo a {
    color: #ffff;
    font-size: 30px;
    display: flex;
}

.logo strong:hover {
    text-shadow: 1px 1px rgb(100, 116, 139), 1px 1px rgb(100, 116, 139);
    border-radius: 5px;
    color: #343434;
    font-size: 32px;
    transition: font-size .5s;
}



.nav {

    flex: 2 2 auto;
    display: flex;

}

.nav a {
    display: flex;
    font-size: 19px;
    text-transform: uppercase;
    padding: 0 15px;
    color: rgb(0, 0, 0);
    letter-spacing: 2px;
    align-items: center;
    font-family: 'Ubuntu Condensed';
}

.nav a:hover {
    background: rgba(100, 116, 139, .2);
    text-shadow: 0 0 30px rgb(100, 116, 139);
    border-radius: 5px;
    color: #343434;
    font-size: 15px;
    transition: font-size .5s;
}

.social {

    position: absolute;
    left: 79vw;
    flex: 1 1 auto;
    display: flex;
}

.social a {
    padding: 0 15px;
    color: #000;
    font-size: 25px;
}

.social a:hover {
    font-size: 31px;
    color: #666;
    transition: font-size .4s;
}

.texto_principal {
    height: 50rem;
    display: flex;
    align-items: center;
}

h1 {
    font-size: 25px;
    line-height: 1.9;
    font-family: 'Montserrat Alternates';
    text-align: center;
    color: hwb(0 18% 82%);
}


.section {
    background: #f7f7f7;
    display: flex;
}

.articulos {
    background: #f7f7f7;
    flex: 2 1 80%;
    display: flex;
    flex-flow: row wrap;

}


.article {
    color: #343434;
    flex: 1 1 40%;
    font-size: 21px;
    line-height: 1.7;
    margin: 10px 10px 0 0;
    flex: 1 1 45%;
    background: #ececec;
}

.article img {
    width: 100%;
}

.article a {
    color: #fff;
    font-size: 15px;
    padding: 10px 0;
    background-color: #000;
    margin: 10px 0;
    font-family: 'Ubuntu Condensed';
    display: inline-block;
}

.article a:hover {
    background: #48c;
}

h3 {
    /* color: #666; */
    font-size: 40px;
    padding: 10px 0;
    margin-top: -90px;
    font-family: 'Ubuntu Condensed';
}

h2 {
    font-size: 30px;
    padding: 0 0 10px 0;
    /* color: #fff; */
}

p,
.navegacion a {
    font-size: 21px;
    font-family: 'Ubuntu Condensed';
    color: #000;
}

.navegacion {
    background: hwb(0 18% 82%);
    ;
    flex: 1 1 100%;
    text-align: center;
    margin: 10px 10px 0 0;
}

.navegacion a {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 0 10px;
}

.aside {
    /* background: #FFFFEC; */
    flex: 1 1 auto;
    margin: 10px 5px 10px 0;
}

.aside img {
    width: 100%;
}

h4 {
    background: #000;
    color: #fff;
    padding: 10px;
    text-transform: uppercase;
}

.publicidad {
    background: #f7f7f7;

}

.footer {
    background: #000;
    margin-top: 10px;

}

.pie {
    text-align: center;
}

.pie a {
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 0 10px;
}

@media all and (max-width:800px) {
    .section {
        flex-direction: column;
    }

    .menu {
        flex-direction: column;
        height: auto;
    }

    .aside {
        display: flex;
        justify-content: center;
    }
}

@media all and (max-width:600px) {
    .articulos {
        flex-direction: column;
    }
}

@media all and (max-width:400px) {
    .aside {
        flex-direction: column;
    }
}